.task-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-main);
  padding: 10px;
}

.task-header h3 {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

input {
  color: var(--color-white);
}

.task-header h3 svg {
  fill: var(--color-main);
  width: 20px;
  margin-right: 8px;
}

.task-header button {
  border: none;
  outline: none;
  font-weight: 600;
  background-color: transparent;
  font-size: 18px;
  cursor: pointer;
}
.task textarea.title{
  
  background-color: var(--color-dark);
  border: none;
  width: 40%;
  height: 5vh;
  text-align: center;
}
.task textarea {
  background-color: var(--color-dark);
  border: none;
  padding: 16px 12px;
  width: 100%;
  height: 68vh;
  resize: none;
  text-align: left;
  scrollbar-width: none; /* Firefox */
}



.task textarea:active,
.task textarea:focus {
  outline: none;
  border: none;
}

.task textarea::-webkit-scrollbar {
  display: none;
}